*{ margin:0; padding:0;}

body
{
	background-color:white;
	font-family:Verdana, Arial, Microsoft Sans Serif;
	font-size:10pt;
}

.row
{
	clear:left;
}

.col
{
	float:left;
}

#header
{
	background-image:url(../image/topbar.png);
	background-repeat:repeat-x;
	height:83px;
	padding:0% 1%;
	clear:left;
	color:White;
	width:98%;
}

#logoArea
{
	width:30%;
	float:left;
	font-size:12pt;
	color:White;
	padding:10px 0px;
}

#memberInfoArea
{
	color:white;
	font-size:9pt;
	text-align:right;
	padding:10px 0px;
	line-height:32px;
}

#body
{
	margin-top:10px;
}

#menu
{
	width:16%;
}

#content
{
	background-color:#f5f5f5;
	padding:1%;
	margin-left:1%;
	width:80%;
}

#footer
{
	background-color:#4b4b4b;
	padding:10px 0px;
	clear:left;
	color:white;
}

#copyright
{
	text-align:center;	
}

#compatibility
{
	text-align:right;
	width:29%;
	color:#d33733;
	vertical-align:middle;
	line-height:30px;
}

#compatibility img
{
	vertical-align:middle;
}

.admin_button
{
	background-image:url(../image/admin_btn_bg.gif);
	height:26px;
	vertical-align:middle;
	text-align:center;
	color:#eeeeee;
	font-weight:bold;
	border:solid 0px white;
	padding:0px 8px;
	cursor:pointer;
	font-size:8pt;
}

.redlink
{
	color:#FFBFBF;
	font-weight:bold;
	text-decoration:underline;
}

.deepredlink
{
	color:#BF0B0B;
	font-weight:bold;
	text-decoration:underline;
}

.response_message
{
	margin:0px 0px 10px 0px;
}

/***********************************
	Menu styles
***********************************/
.sf-menu li {
	background:		#272727;
	width:100%;
}

.sf-menu li li {
	background:		#363636;
}
.sf-menu li li li {
	background:		#585858;
}

.sf-menu li:hover, .sf-menu li.sfHover,
.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active,
.sf-menu .current {
	background:		#81AC43;
	outline:		0;
}

.sf-menu a {
	border-left:	1px solid #fff;
	border-top:		1px solid #CFDEFF;
	padding: 		.75em 1em;
	text-decoration:none;
}
.sf-menu a, .sf-menu a:visited  { /* visited pseudo selector so IE6 applies text colour*/
	color:			#fadada;
	line-height:20px;
}

.sf-vertical, .sf-vertical li {
	width:	15em;
}
/* this lacks ul at the start of the selector, so the styles from the main CSS file override it where needed */
.sf-vertical li:hover ul,
.sf-vertical li.sfHover ul {
	left:	15em; /* match ul width */
	top:	0;
}

.sf-menu a img
{
	vertical-align:top;
	margin-right:5px;
}

/***********************************
	Admin page styles
***********************************/

#filter
{
	border:solid 1px #B2B2B2;
	background-color:#f0f0f0;
	width:98%;
	padding:1%;
	margin:auto;
}

#list
{
	background-color:#f0f0f0;
	width:98%;
	padding:1%;
	margin:20px auto;
}

#form
{
	background-color:#f0f0f0;
	width:98%;
	padding:1%;
	margin:20px auto;
}

#form .info_icon
{
	vertical-align:top;
}

#form .label
{
	line-height:14px;
	font-size:8pt;
	margin-right:2px;
	font-weight:bold;
}

#form .control
{
	margin-left:5px;
}

#form .text
{
	width:50%;
	font-size:10pt;
	border-collapse:collapse;
	height:20px;
	border:solid 1px gray;
}

#form .heading
{
	color:#81AC43;
	font-weight:bold;
	padding-bottom:10px;
}

/***********************************
	Pager styles
***********************************/
.pager
{
	background-color:#e1e1e1;
	width:99%;
	margin:auto;
}

#path
{
	margin:5px 2px;
	width:70%;
}

/***********************************
	Sitemap styles
***********************************/

a.sitemap
{
	line-height:20px;
	color:#81AC43;
}

a.sitemap:hover
{
	text-decoration:underline;
}

span.sitemap
{
	line-height:20px;
	font-weight:bold;
}

/***********************************
	Grid styles
***********************************/
.grid_header
{
	background-image:url(../image/table_head_bg.gif);
	height:29px;
	width:100%;
	color:#eeeeee;
	font-size:9px;
}

.grid_row td
{
	padding:8px;
	border:solid 1px #6f6f6f;
	font-size:9px;
}

.Grid_Textbox
{
    font-size:10px;
}

/***********************************
	Dashboard styles
***********************************/
#dashboard_left
{
	width:68%;
}

#dashboard_right
{
	width:30%;
	margin-left:2%;
	background-color:#ebebeb;
}

.notification_item
{
	line-height:64px;
}

.notification_item img
{
	vertical-align:middle;
}

#quick_access
{
	width:100%;
	background-color:#f0f0f0;
	padding:10px;
	margin:auto;
}

#quick_access td
{
	padding:5px;
	width:50%;
}

#quick_access .box
{
	width:92%;
	border:solid 1px #dedede;	
}

#quick_access .box .box_head
{
	font-weight:bold;
	background-color:#d4d4d4;
	padding:7px;
}

#quick_access .box .box_body
{
	padding:20px 7px;
}

#quick_access .box .box_body a
{
	color:#BF0B0B;
}

#quick_access .box .box_body a:hover
{
	text-decoration:underline;	
}

/***********************************
	Login page styles
***********************************/
#login_box
{
	margin:auto; 
	width:400px;
	color:White;
}

#login_box_left
{
	background-image:url(../image/login_box_left.png);
	width:18px;
	height:252px;
}

#login_box_mid
{
	background-image:url(../image/login_box_mid.jpg);
	width:350px;
	height:252px;
}

#login_box_right
{
	background-image:url(../image/login_box_right.png);
	width:19px;
	height:252px;
}

.Division
{
    list-style-type:none;
}

.Division li
{
    margin-left:20px;
}

